<%- include("partials/header"); -%>

<div id="homepage">
    <h2>Redaguoti programuotoja</h2>

    <form class="dev-form" data-id="<%= dev._id %>">
        <label for="name">Vardas</label>
        <input type="text" name="vardas" id="vardas" placeholder="Vardas Pavarde" value="<%= dev.vardas %>" required>
        <label for="tech">Technologijos</label>
        <input type="text" name="tech" id="tech" placeholder="pvz. Node.js, React" value="<%= dev.tech.join(", ") %>" required>
        <label for="lng">Ilguma</label>
        <input type="number" step="any" name="lng" id="lng" placeholder="Ilguma" value="<%= dev.location.coordinates[0] %>" required />
        <label for="lat">Platuma</label>
        <input type="number" step="any" name="lat" id="lat" placeholder="Platuma" value="<%= dev.location.coordinates[1] %>" required />
        <div class="checkbox">
            <input type="checkbox" name="free" id="free" checked="<%= dev.laisvas %>">
            <label for="free">Laisvas?</label>
        </div>
        <input type="submit" value="Redaguoti">
    </form>
</div>


<script>
    const form = document.querySelector(".dev-form");
    form.addEventListener("submit", async e => {
        e.preventDefault();
        fetch(`/api/devs/${form.dataset.id}`, {
            headers: { "Content-Type": "application/json" },
            method: "PUT",
            body: JSON.stringify({
                vardas: form.vardas.value,
                tech: form.tech.value,
                lng: form.lng.value,
                lat: form.lat.value,
                free: form.free.checked,
            }),
        })
            .then(res => {
                if (!res.ok) {
                    throw new Error("error submitting form");
                }
                window.location.assign("/");
            })
            .catch(err => console.error(err));
    });
</script>

<%- include("partials/footer"); -%>
